#!/usr/bin/env python
PACKAGE = "wall_following_assignment"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("Kp", double_t, 0, "Proportional Gain", .16, 0, 1)
gen.add("Td", double_t, 0, "Differential Gain", .61, 0, 1)
gen.add("Ti", double_t, 0, "Integral Gain", .0, 0, 1)

exit(gen.generate(PACKAGE, "wall_following_assignment", "WallFollower"))
